#imagenes{  /*section*/
  margin: 0 10%;
}

.imagen { /*foto generada con js*/
  display: inline-block;
  margin: 1%;
}

.foto, .imagen{ /*div contenedor*/
  border-radius: 18px;
  width: 300px;
  height: 300px;
}

.imagen .text{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: none;
  top:0;
}

.imagen:hover {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: scale(1.1);
  background-color: rgba(247, 182, 23, 0.81);
}

.imagen:hover .foto{
  opacity: 0.4;
  transition: all 0.3s;
}
.imagen:hover .text{
  color:white;
  left: 11%;
  position: absolute;
  display: block;
  top: 50%;
  font-size: 30px;
}
