#imagenes{  /*section*/
  margin: 0 10%;
}

.imagen { /*foto generada con js*/
  display: inline-block;
  margin: 2%;
}

.foto, .imagen{ /*div contenedor*/
  border-radius: 18px;
  width: 300px;
  height: 300px;
}

.imagen .text{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  display: none;
  top:0;
}

.imagen:hover {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: scale(1.1);
  background-color: rgba(247, 182, 23, 0.81);
}

.imagen:hover .foto{
  opacity: 0.4;
  transition: all 0.3s;
}
.imagen:hover .text{
  color:white;
  left: 11%;
  position: absolute;
  display: block;
  top: 50%;
  font-size: 30px;
}


/*efecto maquina*/
#write {
    height: 50%;
    width: 100%;
    padding: 150px;
    background: #503D39;
    margin: 0% 0% 2% 0%;
    display: table;
}


h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
	position: relative;
	float: left;
	background:  #503D39;
	color: #fff;
	font-size: 2.5em;
}



h1 span {
    position:absolute;
    right:0;
    width:0;
    background: #503D39;
    border-left: 1px solid #000;
    animation: escribir 5s steps(30) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}
